

.align-items{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size : 1rem;
    color: gray;

    li { 
        width: 90%;  
    }

    img {
        padding: 0 5px 0 5px;
        border: 1px solid #19358D;
        width: 10rem;
        height: 10rem;
        margin-left: 10px;
    }

    h1{
        color: 19358D;
    }

    p, ul {
        color: gray;
    }


}

.color-title {
    color: #19358D;
}

.general-style {
    font-size: 1.2rem;
}

.line {
    border: 1px solid #19358D;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 95%;
    margin: 0 auto;
    text-align: left;
    line-height: 1.8rem;
    padding: 0 5px 0 5px;
}


